<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Book Recommendations</title>
</head>
<body>
    <h1>Book Recommendations</h1>
    <div>
    <form id="recommendationForm">
        <label for="preferences">Enter your reading preferences:</label><br>
        <input type="text" id="preferences" name="preferences" required><br><br>
    <button type="submit">Get Recommendations</button>
    </div>
    </form>
    <div id="results"></div>
       	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>